footer{
    margin-top: 20px;
}
footer *{
    box-sizing: border-box;
}
#footer-div1{
    height: 100px;
    display: flex;
    justify-content: center;
}
#footer-div1>div>img{
    width: 100%;
    height: 100%;
}
#footer-div1>div{
    margin: 10px;
}
#footer-div2{
    width: 100%;
    height: 50px;
}
#footer-div2>p{
    text-align: center;
    height: 100%;
    margin: 0;
}
